body {
    background: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(36, 29, 100);
    padding: 50px 100px;
}

nav a {
    font-size: 20px;
    text-decoration: none;
    color: white;
}
.add{
    background-color: aliceblue;
    color: rgb(36, 29, 100);
    padding: 10px 30px;
    border-radius: 5px;
}

h1{
    justify-self: center;
    font-size: 50px;
    color: rgb(36, 29, 100);
    margin: 80px 0;
}
.rename{
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
    .input{
        border: 1px solid rgb(36, 29, 100);
        padding: 10px 30px;
        border-radius: 5px;
        text-align: center;
    }
    button{
        padding: 10px 15px;
        border: 1px solid rgb(58, 51, 120);
        border-radius: 5px;
        color: aliceblue;
        background-color: rgb(36, 29, 100);
    }
.rename button:first-of-type{
    margin-right: 60px;
}
.teams {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}
.team {
    background: rgb(36, 29, 100);
    color: aliceblue;
    padding: 30px;
    border-radius: 10px;
    width: 250px;
    height: 270px;
    h2{
        justify-self: center;
        margin-bottom: 30px;
    }
    ul li span{
        color: white;
        justify-self: center;
    }
}
li button{
            background-color: aliceblue;
            color: rgb(36, 29, 100);
            padding: 5px 10px;
            border-radius: 5px;
        }
ul#teamAList, ul#teamBList{
    padding: 0;
}

.player {
    display: flex;
    justify-content: space-between;
}

.player span {
    cursor: pointer;
}

.profile {
    align-self: center;
    justify-self: center;
    margin-top: 70px;
    background: rgb(36, 29, 100);
    color: aliceblue;
    padding: 30px;
    border-radius: 10px;
    width: 250px;
    height: 270px;
    h2{
        justify-self: center;
    }
    button{
        background-color: aliceblue;
        justify-self: center;
        align-self: center;
        color: rgb(36, 29, 100);
        padding: 10px 30px;
        border-radius: 5px;
    }
}

form#playerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .input{
        margin-bottom: 20px;
        padding: 10px 45px;
    }
    button{
        padding: 20px 50px;
        font-size: 20px;
    }
}
#error{
    font-size: 30px;
    justify-self: center;
    margin: 40px 0;
    color: rgb(36, 29, 100);
}

@media screen and (min-width:1250px) and (max-width:2200px){
    .team {
        padding: 60px;
        border-radius: 10px;
        width: 500px;
        height: 400px;
        h2{
            font-size: 35px;
            margin-bottom: 50px;
        }
        ul li span{
            color: white;
            justify-self: center;
            font-size: 20px;
        }
        ul li{
            margin: 20px 0;
        }
    }
    .add{
        padding: 10px 80px;
    }
    .rename{
        gap: 20px;
    }
    .input{
        padding: 10px 80px;
    }
    button{
        padding: 10px 35px;
    }
    .rename button:first-of-type{
        margin-right: 360px;
    }
    .profile {
        margin-top: 100px;
        font-size: 20px;
        padding: 60px;
        width: 500px;
        height: 400px;
        h2{
            font-size: 40px;
        }
        button{
            margin-top: 50px;
            font-size: 20px;
            padding: 10px 50px;
        }
    }
}